/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/* Display the HelixWare in the WordPress media library on HelixWare assets */
li.attachment .attachment-preview.type-application.subtype-x-helixware:after,
li.attachment .attachment-preview.type-application.subtype-x-helixware-ondemand:after,
li.attachment .attachment-preview.type-application.subtype-x-helixware-live:after,
li.attachment .attachment-preview.type-application.subtype-x-helixware-broadcast:after,
li.attachment .attachment-preview.type-application.subtype-x-helixware-channel:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    background: rgba(255, 255, 255, 0.8) url("../images/helixware.png") no-repeat center right;
    background-size: 20px;
    width: 20px;
    height: 20px;
}

li.attachment .attachment-preview.type-application.subtype-x-helixware-ondemand:after,
li.attachment .attachment-preview.type-application.subtype-x-helixware-live:after {
    width: 40px;
    height: 20px;
    font-family: dashicons;
    text-align: left;
    font-size: 18px;
    line-height: 22px;
    text-indent: 2px;
}

li.attachment .attachment-preview.type-application.subtype-x-helixware-ondemand:after {
    content: "\f126";
}

li.attachment .attachment-preview.type-application.subtype-x-helixware-live:after {
    content: "\f235";
}